{% include '@bwtf/templates/layout/header.html.twig' %}

 <section class="hero">
     <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide-media">
            <div class="slide-overlay"></div>
            <img src="{{ base_path ~ directory }}/assets/imgs/293769342_612673207094388_4298816067991266265_n.jpeg" alt="slide image">
          </div>
          <div class="slide-text">
            <h3 class="slide-text-title">Toy Review: "Generations" Legacy Wild Rider</h3>
            <p class="slide-text-description">Wild Rider is so insane even his fellow Stunticons avoid him on the roads!</p>
            <a href="#" class="btn btn--primary">read more</a>
          </div> 
        </div>
        <div class="swiper-slide">
          <div class="slide-media">
            <div class="slide-overlay"></div>
            <img src="{{ base_path ~ directory }}/assets/imgs/293792997_3236130879964141_7236215811267043281_n.jpeg" alt="slide image">
          </div>
          <div class="slide-text">
            <h3 class="slide-text-title">TOY REVIEW: "SHATTERED GLASS" FLAMEWAR WITH FIREGLIDE</h3>
            <p class="slide-text-description">In an alternate universe where Heroic Decepticons fight against the Evil Autobots, Flamewar is one of the most loyal warriors under Megatron's command!</p>
            <p class="slide-text-description"></p>
            <a href="#" class="btn btn--primary">read more</a>
          </div> 
        </div>
        <div class="swiper-slide">
          <div class="slide-media">
            <div class="slide-overlay"></div>
            <img src="{{ base_path ~ directory }}/assets/imgs/7_3.png" alt="slide image">
          </div>
          <div class="slide-text">
            <h3 class="slide-text-title">TOY REVIEW: "GENERATIONS" LEGACY ELITA-1</h3>
            <p class="slide-text-description">Elita-1 is the leader of a group of the Autobot underground on Cybertron, fighting back against the Decepticons that dominate the landscape.</p>
            <a href="#" class="btn btn--primary">read more</a>
          </div> 
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
 </section> 
 <section class="content container">
  <main>
    <section class="simple-ads">
      <img src="{{ base_path ~ directory }}/assets/imgs/simple-ads.jpg" alt="simple-ads.jpg">
     </section>
    <section class="article-cards container">
      <div class="article-card">
         <div class="article-card__media">
          <img src="{{ base_path ~ directory }}/assets/imgs/generations.jpg" alt="generations.jpg">
         </div>
         <div class="article-card__text">
           <div class="article-card__header">
             <h6 class="article-card__eyebrow">latest news</h6>
             <h6 class="article-card__date">8/11/22</h6>
           </div>
           <div class="article-card__body">
              <h5 class="article-card__title">"Legacy" Wreck 'N Rule Bulkhead!</h5>
              <p class="article-card__description">He's big, he's bad and he's got a fuel pump of gold - he's Bulkhead the Wrecker!  Check out MY REVIEW AND GALLERY of the Amazon exclusive "Wreck 'N Rule Collection" Bulkhead!</p>
           </div>
           <div class="article-card__footer">
            <a href="#" class="btn btn--secondary">read more</a>
           </div>
         </div>
      </div>
      <div class="article-card">
         <div class="article-card__media">
          <img src="{{ base_path ~ directory }}/assets/imgs/generations.jpg" alt="generations.jpg">
         </div>
         <div class="article-card__text">
           <div class="article-card__header">
             <h6 class="article-card__eyebrow">latest news</h6>
             <h6 class="article-card__date">8/11/22</h6>
           </div>
           <div class="article-card__body">
              <h5 class="article-card__title">"Legacy" Wreck 'N Rule Bulkhead!</h5>
              <p class="article-card__description">He's big, he's bad and he's got a fuel pump of gold - he's Bulkhead the Wrecker!  Check out MY REVIEW AND GALLERY of the Amazon exclusive "Wreck 'N Rule Collection" Bulkhead!</p>
           </div>
           <div class="article-card__footer">
            <a href="#" class="btn btn--secondary">read more</a>
           </div>
         </div>
      </div>
      <div class="article-card">
         <div class="article-card__media">
          <img src="{{ base_path ~ directory }}/assets/imgs/generations.jpg" alt="generations.jpg">
         </div>
         <div class="article-card__text">
           <div class="article-card__header">
             <h6 class="article-card__eyebrow">latest news</h6>
             <h6 class="article-card__date">8/11/22</h6>
           </div>
           <div class="article-card__body">
              <h5 class="article-card__title">"Legacy" Wreck 'N Rule Bulkhead!</h5>
              <p class="article-card__description">He's big, he's bad and he's got a fuel pump of gold - he's Bulkhead the Wrecker!  Check out MY REVIEW AND GALLERY of the Amazon exclusive "Wreck 'N Rule Collection" Bulkhead!
              </p>
           </div>
           <div class="article-card__footer">
            <a href="#" class="btn btn--secondary">read more</a>
           </div>
         </div>
      </div>
      <div class="article-card">
         <div class="article-card__media">
          <img src="{{ base_path ~ directory }}/assets/imgs/generations.jpg" alt="generations.jpg">
         </div>
         <div class="article-card__text">
           <div class="article-card__header">
             <h6 class="article-card__eyebrow">latest news</h6>
             <h6 class="article-card__date">8/11/22</h6>
           </div>
           <div class="article-card__body">
              <h5 class="article-card__title">"Legacy" Wreck 'N Rule Bulkhead!</h5>
              <p class="article-card__description">He's big, he's bad and he's got a fuel pump of gold - he's Bulkhead the Wrecker!  Check out MY REVIEW AND GALLERY of the Amazon exclusive "Wreck 'N Rule Collection" Bulkhead!</p>
           </div>
           <div class="article-card__footer">
            <a href="#" class="btn btn--secondary">read more</a>
           </div>
         </div>
      </div>
      <div class="article-card">
         <div class="article-card__media">
          <img src="{{ base_path ~ directory }}/assets/imgs/generations.jpg" alt="generations.jpg">
         </div>
         <div class="article-card__text">
           <div class="article-card__header">
             <h6 class="article-card__eyebrow">latest news</h6>
             <h6 class="article-card__date">8/11/22</h6>
           </div>
           <div class="article-card__body">
              <h5 class="article-card__title">"Legacy" Wreck 'N Rule Bulkhead!</h5>
              <p class="article-card__description">He's big, he's bad and he's got a fuel pump of gold - he's Bulkhead the Wrecker!  Check out MY REVIEW AND GALLERY of the Amazon exclusive "Wreck 'N Rule Collection" Bulkhead!</p>
           </div>
           <div class="article-card__footer">
            <a href="#" class="btn btn--secondary">read more</a>
           </div>
         </div>
      </div>
      <div class="article-card">
         <div class="article-card__media">
          <img src="{{ base_path ~ directory }}/assets/imgs/generations.jpg" alt="generations.jpg">
         </div>
         <div class="article-card__text">
           <div class="article-card__header">
             <h6 class="article-card__eyebrow">latest news</h6>
             <h6 class="article-card__date">8/11/22</h6>
           </div>
           <div class="article-card__body">
              <h5 class="article-card__title">"Legacy" Wreck 'N Rule Bulkhead!</h5>
              <p class="article-card__description">He's big, he's bad and he's got a fuel pump of gold - he's Bulkhead the Wrecker!  Check out MY REVIEW AND GALLERY of the Amazon exclusive "Wreck 'N Rule Collection" Bulkhead!</p>
           </div>
           <div class="article-card__footer">
            <a href="#" class="btn btn--secondary">read more</a>
           </div>
         </div>
      </div>
    </section>
  </main>
 
{% include '@bwtf/templates/layout/sidebar.html.twig' %}

</section>

{% include '@bwtf/templates/layout/footer.html.twig' %}
