{{ title_prefix }}
{{ title_suffix }}

{% include '@bwtf/templates/layout/header.html.twig' %}

{% if is_front %}
  {% if slider_display == 1 %}
    <section class="hero">
     <div class="swiper mySwiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="slide-media">
            <div class="slide-overlay"></div>
            <img src="{{ slide1_image }}" alt="slide image">
          </div>
          <div class="slide-text">
            <h3 class="slide-text-title">{{ slide1_title }}</h3>
            <p class="slide-text-description">{{ slide1_desc }}</p>
            <a href="{{ slide1_url }}" class="btn btn--primary">{{ slide1_link_text }}</a>
          </div> 
        </div>

        <div class="swiper-slide">
          <div class="slide-media">
            <div class="slide-overlay"></div>
            <img src="{{ slide2_image }}" alt="slide image">
          </div>
          <div class="slide-text">
            <h3 class="slide-text-title">{{ slide2_title }}</h3>
            <p class="slide-text-description">{{ slide2_desc }}</p>
            <a href="{{ slide2_url }}" class="btn btn--primary">{{ slide2_link_text }}</a>
          </div> 
        </div>
    
        <div class="swiper-slide">
          <div class="slide-media">
            <div class="slide-overlay"></div>
            <img src="{{ slide3_image }}" alt="slide image">
          </div>
          <div class="slide-text">
            <h3 class="slide-text-title">{{ slide3_title }}</h3>
            <p class="slide-text-description">{{ slide3_desc }}</p>
            <a href="{{ slide3_url }}" class="btn btn--primary">{{ slide3_link_text }}</a>
          </div> 
        </div>
    
        <div class="swiper-slide">
          <div class="slide-media">
            <div class="slide-overlay"></div>
            <img src="{{ slide4_image }}" alt="slide image">
          </div>
          <div class="slide-text">
            <h3 class="slide-text-title">{{ slide4_title }}</h3>
            <p class="slide-text-description">{{ slide4_desc }}</p>
            <a href="{{ slide4_url }}" class="btn btn--primary">{{ slide4_link_text }}</a>
          </div> 
        </div>
    
        <div class="swiper-slide">
          <div class="slide-media">
            <div class="slide-overlay"></div>
            <img src="{{ slide5_image }}" alt="slide image">
          </div>
          <div class="slide-text">
            <h3 class="slide-text-title">{{ slide5_title }}</h3>
            <p class="slide-text-description">{{ slide5_desc }}</p>
            <a href="{{ slide5_url }}" class="btn btn--primary">{{ slide5_link_text }}</a>
          </div> 
        </div>
    
        <div class="swiper-slide">
          <div class="slide-media">
            <div class="slide-overlay"></div>
            <img src="{{ slide6_image }}" alt="slide image">
          </div>
          <div class="slide-text">
            <h3 class="slide-text-title">{{ slide6_title }}</h3>
            <p class="slide-text-description">{{ slide6_desc }}</p>
            <a href="{{ slide6_url }}" class="btn btn--primary">{{ slide6_link_text }}</a>
          </div> 
        </div>  
    
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
 </section> 
  {% endif %}
 {% endif %}
 <section class="content container">
  <main>
    <section class="simple-ads">
      <img src="{{ base_path ~ directory }}/assets/imgs/simple-ads.jpg" alt="simple-ads.jpg">
    </section>
    <section class="article-cards container">
      <div class="article-card">
         <div class="article-card__media">
          <img src="{{ base_path ~ directory }}/assets/imgs/generations.jpg" alt="generations.jpg">
         </div>
         <div class="article-card__text">
           <div class="article-card__header">
             <h6 class="article-card__eyebrow">latest news</h6>
             <h6 class="article-card__date">8/11/22</h6>
           </div>
           <div class="article-card__body">
              <h5 class="article-card__title">"Legacy" Wreck 'N Rule Bulkhead!</h5>
              <p class="article-card__description">He's big, he's bad and he's got a fuel pump of gold - he's Bulkhead the Wrecker!  Check out MY REVIEW AND GALLERY of the Amazon exclusive "Wreck 'N Rule Collection" Bulkhead!</p>
           </div>
           <div class="article-card__footer">
            <a href="#" class="btn btn--secondary">read more</a>
           </div>
         </div>
      </div>
      <div class="article-card">
         <div class="article-card__media">
          <img src="{{ base_path ~ directory }}/assets/imgs/generations.jpg" alt="generations.jpg">
         </div>
         <div class="article-card__text">
           <div class="article-card__header">
             <h6 class="article-card__eyebrow">latest news</h6>
             <h6 class="article-card__date">8/11/22</h6>
           </div>
           <div class="article-card__body">
              <h5 class="article-card__title">"Legacy" Wreck 'N Rule Bulkhead!</h5>
              <p class="article-card__description">He's big, he's bad and he's got a fuel pump of gold - he's Bulkhead the Wrecker!  Check out MY REVIEW AND GALLERY of the Amazon exclusive "Wreck 'N Rule Collection" Bulkhead!</p>
           </div>
           <div class="article-card__footer">
            <a href="#" class="btn btn--secondary">read more</a>
           </div>
         </div>
      </div>
      <div class="article-card">
         <div class="article-card__media">
          <img src="{{ base_path ~ directory }}/assets/imgs/generations.jpg" alt="generations.jpg">
         </div>
         <div class="article-card__text">
           <div class="article-card__header">
             <h6 class="article-card__eyebrow">latest news</h6>
             <h6 class="article-card__date">8/11/22</h6>
           </div>
           <div class="article-card__body">
              <h5 class="article-card__title">"Legacy" Wreck 'N Rule Bulkhead!</h5>
              <p class="article-card__description">He's big, he's bad and he's got a fuel pump of gold - he's Bulkhead the Wrecker!  Check out MY REVIEW AND GALLERY of the Amazon exclusive "Wreck 'N Rule Collection" Bulkhead!
              </p>
           </div>
           <div class="article-card__footer">
            <a href="#" class="btn btn--secondary">read more</a>
           </div>
         </div>
      </div>
      <div class="article-card">
         <div class="article-card__media">
          <img src="{{ base_path ~ directory }}/assets/imgs/generations.jpg" alt="generations.jpg">
         </div>
         <div class="article-card__text">
           <div class="article-card__header">
             <h6 class="article-card__eyebrow">latest news</h6>
             <h6 class="article-card__date">8/11/22</h6>
           </div>
           <div class="article-card__body">
              <h5 class="article-card__title">"Legacy" Wreck 'N Rule Bulkhead!</h5>
              <p class="article-card__description">He's big, he's bad and he's got a fuel pump of gold - he's Bulkhead the Wrecker!  Check out MY REVIEW AND GALLERY of the Amazon exclusive "Wreck 'N Rule Collection" Bulkhead!</p>
           </div>
           <div class="article-card__footer">
            <a href="#" class="btn btn--secondary">read more</a>
           </div>
         </div>
      </div>
      <div class="article-card">
         <div class="article-card__media">
          <img src="{{ base_path ~ directory }}/assets/imgs/generations.jpg" alt="generations.jpg">
         </div>
         <div class="article-card__text">
           <div class="article-card__header">
             <h6 class="article-card__eyebrow">latest news</h6>
             <h6 class="article-card__date">8/11/22</h6>
           </div>
           <div class="article-card__body">
              <h5 class="article-card__title">"Legacy" Wreck 'N Rule Bulkhead!</h5>
              <p class="article-card__description">He's big, he's bad and he's got a fuel pump of gold - he's Bulkhead the Wrecker!  Check out MY REVIEW AND GALLERY of the Amazon exclusive "Wreck 'N Rule Collection" Bulkhead!</p>
           </div>
           <div class="article-card__footer">
            <a href="#" class="btn btn--secondary">read more</a>
           </div>
         </div>
      </div>
      <div class="article-card">
         <div class="article-card__media">
          <img src="{{ base_path ~ directory }}/assets/imgs/generations.jpg" alt="generations.jpg">
         </div>
         <div class="article-card__text">
           <div class="article-card__header">
             <h6 class="article-card__eyebrow">latest news</h6>
             <h6 class="article-card__date">8/11/22</h6>
           </div>
           <div class="article-card__body">
              <h5 class="article-card__title">"Legacy" Wreck 'N Rule Bulkhead!</h5>
              <p class="article-card__description">He's big, he's bad and he's got a fuel pump of gold - he's Bulkhead the Wrecker!  Check out MY REVIEW AND GALLERY of the Amazon exclusive "Wreck 'N Rule Collection" Bulkhead!</p>
           </div>
           <div class="article-card__footer">
            <a href="#" class="btn btn--secondary">read more</a>
           </div>
         </div>
      </div>
    </section>
  </main>
 
{% include '@bwtf/templates/layout/sidebar.html.twig' %}

</section>

{% include '@bwtf/templates/layout/footer.html.twig' %}
