<footer>
    <div class="container">
      <p>BWTF.COM is copyright of Benson Yee since 1997. HASBRO, TRANSFORMERS and all related characters are trademarks of Hasbro. , Takara Ltd. and Tomy. Direct linking of images is not allowed.
        If you wish to use any content from this site, <a href="https://www.bwtf.com/contact" target="blank">please request permission</a> before doing so.</p>
      <ul class="footer-social">
        <li><a href="https://www.facebook.com/bensworldtf/" target="blank"><img src="{{ base_path ~ directory }}/assets/imgs/facebook-logo.png" alt="facebook logo"></a></li>
        <li><a href="http://twitter.com/BWTF_Ben/" target="blank"><img src="{{ base_path ~ directory }}/assets/imgs/twitter-icon.png" alt="twitter logo"></a></li>
        <li><a href="https://www.youtube.com/channel/UCYb-KvhRv_CxCKBcwmz2p0A" target="blank"><img src="{{ base_path ~ directory }}/assets/imgs/youtube-logo.png" alt="youtube logo"></a></li>
        <li><a href="https://instagram.com/BWTF_Ben/" target="blank"><img src="{{ base_path ~ directory }}/assets/imgs/instagram-icon.png" alt="instagram logo"></a></li>
        <li><a href="https://www.patreon.com/bwtf_ben" target="blank"><img src="{{ base_path ~ directory }}/assets/imgs/patreon-icon.png" alt="patreon"></a></li>
      </ul>
      <p>Copyright © 2022 . Theme by Dave Carter for <a href="https://www.dcartdevelopment.com" target="blank">https://www.dcartdevelopment.com</a></p>
    </div>
 </footer>
<script src="{{ base_path ~ directory }}/assets/js/swiper-bundle.min.js"></script>
<script src="{{ base_path ~ directory }}/assets/js/bwtf_v2.js"></script> 
</body>