<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ben's World Of Transformers - bwtf.com</title> 
  <meta name="description" content="Toy Review Blog Site by Ben Yee"> 
	<meta name="author" content="Dave Carter for dcartdevelopment">
 <!-- FAVICON and APPLE ICONS -->
 <link rel="shortcut icon" href="{{ base_path ~ directory }}/assets/imgs/icons/favicon.ico">
 <link rel="apple-touch-icon" href="{{ base_path ~ directory }}/assets/imgs/icons/apple-touch-icon.png">
 <link rel="apple-touch-icon" href="{{ base_path ~ directory }}/assets/imgs/icons/apple-touch-icon-57x57.png">
 <link rel="apple-touch-icon" href="{{ base_path ~ directory }}/assets/imgs/icons/apple-touch-icon-72x72.png">
 <link rel="apple-touch-icon" href="{{ base_path ~ directory }}/assets/imgs/icons/apple-touch-icon-114x114.png">
 <link rel="apple-touch-icon" href="{{ base_path ~ directory }}/assets/imgs/icons/apple-touch-icon-144x144.png">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="{{ base_path ~ directory }}/assets/css/bwtf_v2.css"> 
</head>
<body {{ attributes.addClass(body_classes) }}>
 <header>
    <a href='/index.html'><img src="{{ base_path ~ directory }}/assets/imgs/Logo_2022_OP_vs_Megs.png" alt="ben's world of transformers site logo"></a>
 </header>
 <section class="menu-container">
    <div class="menu-btn">
      <div class="bar bar-1"></div>
      <div class="bar bar-2"></div>
      <div class="bar bar-3"></div>
    </div>
  </section>

 {% if page.main_menu %} 
   <section class="nav-container">
    <ul>
      <li>{{ page.main_menu }}</li>
    </ul>
    </section>
 {% endif %}