{{ title_prefix }}
{{ title_suffix }}

<aside>
    <div class="search-form">
      <form action="">
        <input type="search" placeholder="Search this site....">
        <div class="search-icon"></div>
      </form>
    </div>
    <section class="social-sponsor">
      <div class="social">
        <h4>social</h4>
        <ul>
          <li><a href="https://www.facebook.com/bensworldtf/" target="blank"><img src="{{ base_path ~ directory }}/assets/imgs/facebook-logo.png" alt="facebook logo"></a></li>
          <li><a href="http://twitter.com/BWTF_Ben/" target="blank"><img src="{{ base_path ~ directory }}/assets/imgs/twitter-icon.png" alt="twitter logo"></a></li>
          <li><a href="https://www.youtube.com/channel/UCYb-KvhRv_CxCKBcwmz2p0A" target="blank"><img src="{{ base_path ~ directory }}/assets/imgs/youtube-logo.png" alt="youtube logo"></a></li>
          <li><a href="https://instagram.com/BWTF_Ben/" target="blank"><img src="{{ base_path ~ directory }}/assets/imgs/instagram-icon.png" alt="instagram logo"></a></li>
          <li><a href="https://www.patreon.com/bwtf_ben" target="blank"><img src="{{ base_path ~ directory }}/assets/imgs/patreon-icon.png" alt="patreon"></a></li>
        </ul>
      </div>
      <div class="sponsor">
        <h4>sponsor</h4>
        <a href="https://www.bigbadtoystore.com/" target="blank"><img src="{{ base_path ~ directory }}/assets/imgs/sidebar-imageanimeside.jpeg" alt=""></a>
      </div>
    </section>
    <div class="affiliates">
      <h4>Affiliates</h4>
    </div>
  </aside>