<aside>
    <div class="search-form">
      <form action="">
        <input type="search" placeholder="Search this site....">
        <div class="search-icon"></div>
      </form>
    </div>
    <section class="social-sponsor">
      <div class="social">
        <h4>social</h4>
        <ul>
          <li><a href="https://www.facebook.com/bensworldtf/" target="blank"><img src="{{ base_path ~ directory }}/assets/imgs/facebook-logo.png" alt="facebook logo"></a></li>
          <li><a href="http://twitter.com/BWTF_Ben/" target="blank"><img src="{{ base_path ~ directory }}/assets/imgs/twitter-icon.png" alt="twitter logo"></a></li>
          <li><a href="https://www.youtube.com/channel/UCYb-KvhRv_CxCKBcwmz2p0A" target="blank"><img src="{{ base_path ~ directory }}/assets/imgs/youtube-logo.png" alt="youtube logo"></a></li>
          <li><a href="https://instagram.com/BWTF_Ben/" target="blank"><img src="{{ base_path ~ directory }}/assets/imgs/instagram-icon.png" alt="instagram logo"></a></li>
          <li><a href="https://www.patreon.com/bwtf_ben" target="blank"><img src="{{ base_path ~ directory }}/assets/imgs/patreon-icon.png" alt="patreon"></a></li>
        </ul>
      </div>
      <div class="sponsor">
        <h4>sponsor</h4>
        <a href="https://www.bigbadtoystore.com/" target="blank"><img src="{{ base_path ~ directory }}/assets/imgs/sidebar-imageanimeside.jpeg" alt=""></a>
      </div>
    </section>
    <div class="amazon-picks">
      <h4>amazon picks</h4>
      <p>Purchases via these links help support Ben's World of Transformers</p>
      <section class="amazon-cards">
        <div class="amazon-card">
          <iframe frameborder="0" marginheight="0" marginwidth="0" sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" scrolling="no" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&amp;OneJS=1&amp;Operation=GetAdHtml&amp;MarketPlace=US&amp;source=ss&amp;ref=as_ss_li_til&amp;ad_type=product_link&amp;tracking_id=bensworoftra-20&amp;language=en_US&amp;marketplace=amazon&amp;region=US&amp;placement=B09H14LP4G&amp;asins=B09H14LP4G&amp;linkId=005e14a3eac036f8a8e2c7cf554e60d7&amp;show_border=true&amp;link_opens_in_new_window=true"></iframe>
        </div>
        <div class="amazon-card">
          <iframe frameborder="0" marginheight="0" marginwidth="0" sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" scrolling="no" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&amp;OneJS=1&amp;Operation=GetAdHtml&amp;MarketPlace=US&amp;source=ss&amp;ref=as_ss_li_til&amp;ad_type=product_link&amp;tracking_id=bensworoftra-20&amp;language=en_US&amp;marketplace=amazon&amp;region=US&amp;placement=B09H1NC46R&amp;asins=B09H1NC46R&amp;linkId=4236833444c20bfd09def08e5409036f&amp;show_border=true&amp;link_opens_in_new_window=true"></iframe>
        </div>
        <div class="amazon-card">
          <iframe frameborder="0" marginheight="0" marginwidth="0" sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" scrolling="no" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&amp;OneJS=1&amp;Operation=GetAdHtml&amp;MarketPlace=US&amp;source=ss&amp;ref=as_ss_li_til&amp;ad_type=product_link&amp;tracking_id=bensworoftra-20&amp;language=en_US&amp;marketplace=amazon&amp;region=US&amp;placement=B08TQQVPL2&amp;asins=B08TQQVPL2&amp;linkId=049ecebaa079c9f596f341b84a444f11&amp;show_border=true&amp;link_opens_in_new_window=true"></iframe>
        </div>
        <div class="amazon-card">
          <iframe frameborder="0" marginheight="0" marginwidth="0" sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" scrolling="no" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&amp;OneJS=1&amp;Operation=GetAdHtml&amp;MarketPlace=US&amp;source=ss&amp;ref=as_ss_li_til&amp;ad_type=product_link&amp;tracking_id=bensworoftra-20&amp;language=en_US&amp;marketplace=amazon&amp;region=US&amp;placement=B08TLQ26D5&amp;asins=B08TLQ26D5&amp;linkId=f0ec03c89e6590cd41370e8ba4ab4c8a&amp;show_border=true&amp;link_opens_in_new_window=true"></iframe>
        </div>
        <div class="amazon-card">
          <iframe frameborder="0" marginheight="0" marginwidth="0" sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" scrolling="no" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&amp;OneJS=1&amp;Operation=GetAdHtml&amp;MarketPlace=US&amp;source=ss&amp;ref=as_ss_li_til&amp;ad_type=product_link&amp;tracking_id=bensworoftra-20&amp;language=en_US&amp;marketplace=amazon&amp;region=US&amp;placement=B096GC12QX&amp;asins=B096GC12QX&amp;linkId=0945669af8ca01f3c443fc360e2ca1e9&amp;show_border=true&amp;link_opens_in_new_window=true"></iframe>
        </div>
        <div class="amazon-card">
          <iframe frameborder="0" marginheight="0" marginwidth="0" sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" scrolling="no" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&amp;OneJS=1&amp;Operation=GetAdHtml&amp;MarketPlace=US&amp;source=ss&amp;ref=as_ss_li_til&amp;ad_type=product_link&amp;tracking_id=bensworoftra-20&amp;language=en_US&amp;marketplace=amazon&amp;region=US&amp;placement=B09H1M5349&amp;asins=B09H1M5349&amp;linkId=9544f23b6b03acba234b21af4a0fabfb&amp;show_border=true&amp;link_opens_in_new_window=true"></iframe>
        </div>
      </section>
    </div>
  </aside>